<template>
	<div>
		Loading
	</div>
</template>

<script>
	export default {
		mounted() {
			this.$store.dispatch('auth/handle')
				.then(response => {
					console.log('logged in', response);
				}, err => console.error('error', err));
		}
	}
</script>
