<template>
	<div>
		<header>
			<h3>
				Register
			</h3>
		</header>
		<form @submit="onSubmit">
			<input type="text" name="name" v-model="name" placeholder="Name">
			<input type="email" name="email" v-model="email" placeholder="Email">
			<input type="password" name="password" v-model="password" placeholder="Password">
			<button type="submit">
				Submit
			</button>
		</form>
		<footer>
			<button>Facebook</button>
			<button>Twitter</button>
			<button>Google</button>
			<div>
				Already have an account?
				<router-link to="/auth/login">Sign in!</router-link>
			</div>
		</footer>
	</div>
</template>

<script>
	export default {
		data: () => ({
			name: '',
			email: '',
			password: ''
		}),
		methods: {
			onSubmit(event) {
				event.preventDefault();

				this.$store.dispatch('auth/register', {
					name: this.name,
					email: this.email,
					password: this.password
				}).then(
					res => console.log(res),
					err => console.error(err)
				);
			}
		}
	}
</script>
