<template>
	<div>
		<header>
			<h3>
				Login
			</h3>
		</header>
		<form @submit="onSubmit">
			<input type="email" v-model="email" placeholder="Email">
			<input type="password" v-model="password" placeholder="Password">
			<button type="submit">
				Submit
			</button>
		</form>
		<footer>
			<button @click="social('facebook')">Facebook</button>
			<button @click="social('twitter')">Twitter</button>
			<button>Google</button>
			<div>
				Doesn't have an account yet?
				<router-link to="/auth/register">Sign up!</router-link>
			</div>
		</footer>
	</div>
</template>

<script>
	export default {
		data: () => ({
			email: '',
			password: ''
		}),
		methods: {
			onSubmit(event) {
				event.preventDefault();

				this.$store.dispatch('auth/login', {
					email: this.email,
					password: this.password
				})
					.then(response => {
						this.$store.commit('auth/setSession', response.body);
						this.$store.commit('oauth/setSession', response.body);
					}, err => console.error(err));
			},

			social(provider) {
				this.$store.dispatch('auth/social', { provider });
			}
		}
	}
</script>
