<template>
	<header>
		<h2>Auth</h2>
		<router-view></router-view>
	</header>
</template>

<script>
	import { mapGetters } from 'vuex';

	export default {
		methods: {
			login() {
				this.$store.dispatch('auth/login');
			},
			logout() {
				this.$store.dispatch('auth/logout');
			}
		}
	}
</script>
